<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/images/thu.png"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/material.css">
    <script src="{{ site.baseurl }}/assets/js/material.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div class="wrapper">
      <header>

        <div class="mdl-shadow--2dp" style="width: 240px;height: 240px;background: url('{{ site.baseurl }}/assets/images/Lok.JPG') center / cover;">
        </div>

        <h3>Chengjiang Li</h3>

        <p>3<sup>rd</sup> Year Graduate Student<br />
          Knowledge Engineering Group,<br />
          DCST of Tsinghua University,<br />
          Beijing, China. 100084</p>

        <p><b>E-mail:</b> iamlockelightning[at]gmail[dot]com</p>
        <a href="https://github.com/iamlockelightning"><img src="{{ site.baseurl }}/assets/images/github.png" style="width: 25px" /></a>
        &nbsp;&nbsp;
        <a href="https://weibo.com/u/2825896900"><img src="{{ site.baseurl }}/assets/images/weibo.png" style="width: 25px" /></a>
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; -->
        <!-- <a href="{{ site.baseurl }}/assets/images/resume_ChengjiangLi.pdf"><img src="{{ site.baseurl }}/assets/images/resume.png" style="width: 25px" /></a> -->

      </header>

      <section>
        {{ content }}
      </section>

      <footer style="bottom: 0px">

        <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=080808&w=300&t=tt&d=Ja-_RzSf8zpDY5BBBYDBo97_vch49iHznEVyTWwFso0&co=ffffff&ct=808080&cmo=ffba53&cmn=ff5353'></script>

        <p><small>Last updated date: 2019/12/3.</small><br/>
          <small>This page is maintained by <a href="https://github.com/iamlockelightning">iamlockelightning</a></small></p>

      </footer>
    </div>

    <script src="{{ site.baseurl }}/assets/js/scale.fix.js"></script>
  </body>

</html>
